<!DOCTYPE html>
<html class="no-js" lang="pt-BR">
<%- include partials/head.ejs %>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">Você está usando um navegador desatualizado. Por favor <a href="http://browsehappy.com/">atualize seu navegador</a> para acessar esse site.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <%- include partials/header.ejs %>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <%- include partials/headerMobile.ejs %>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <%- include partials/mainMenu.ejs %>
    <!-- Main Menu area End-->
    <!-- Breadcomb area start -->
    <%- include partials/breadcomb.ejs %>
    <!-- Breadcomb area end -->
    <!-- Start Status area -->
    <%- include partials/content.ejs %>
    <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    <%- include partials/footer.ejs %>
</body>
</html>
    