<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome do Projeto</th>
                                    <th>Status</th>
                                    <th>Prazo</th>
                                    <th>Categoria</th>
                                    <th>Responsável</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(let i = project.length - 1; i >= 0; i--) { %>
                                <tr>
                                    <td><a href="/project/<%= project[i]._id %>"><%= project[i].name %></a></td>
                                    <% if(project[i].status == 'Aguardando aprovação') { %>
                                    <td><button class="btn btn-warning notika-btn-warning waves-effect" data-toggle="tooltip" data-placement="right" title="" data-original-title="Sua proposta está em fase de análise" aria-describedby="tooltip63872"><%= project[i].status %></button></td>
                                    <% } else { %>
                                    <td><%= project[i].status %></td>
                                    <% } %>
                                    <td><%= project[i].deadline %></td>
                                    <td><%= project[i].category %></td>
                                    <td></td>
                                </tr>
                                <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Data Table area End-->