<div class="tabs-info-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget-tabs-int">
                        <div class="tab-hd">
                            <% if(project.endAt) { %>
                            <h2><%= project.name %> - Projeto finalizado em <%= project.endAt %></h2>
                            <% } else { %>
                            <h2><%= project.name %></h2>
                            <% } %>
                            <p><%= project.description %></p>
                        </div>
                        <div class="widget-tabs-list">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Detalhes do
                                        projeto</a></li>
                                <li class=""><a data-toggle="tab" href="#task" aria-expanded="false">Tarefas</a></li>
                                <li class=""><a data-toggle="tab" href="#archive" aria-expanded="false">Arquivos</a></li>
                                <li class=""><a data-toggle="tab" href="#invoice" aria-expanded="false">Faturas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="widget-tabs-int mg-t-30">
                        <div class="tab-content tab-custom-st">
                            <% if(style == 'details') { %>
                            <div id="details" class="tab-pane fade active in">
                            <% } else { %>
                            <div id="details" class="tab-pane fade">
                            <% } %>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="tab-ctn">
                                            <h4>ID do projeto:</h2>
                                            <p><%= project._id %></p>
                                            <h4>Categorias do projeto:</h2>
                                            <p><%= project.category %></p>
                                            <h4>Responsável pelo projeto:</h2>
                                            <% if(!project._idResponsible) { %>
                                            <p>Não definido</p>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="tab-ctn">
                                            <h4>Projeto criado em:</h4>
                                            <p><%= project.createdAt %></p>
                                            <h4>Projeto iniciado em:</h4>
                                            <% if(project.startAt) { %>
                                            <p><%= project.startAt %></p>
                                            <% } else { %>
                                            <p>O projeto ainda não foi iniciado</p>
                                            <% } %>
                                            <h4>Prazo do projeto:</h4>
                                            <p><%= project.deadline %></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="tab-ctn">
                                            <h4>Últimas atividades</h4>
                                            <div class="tab-ctn" id="section">
                                                <ul>
                                                    <% for(let i = 0; i < (project.projectHistory).length; i++) { %>
                                                        <% if(project.projectHistory[i].dataChange == 'Created') { %>
                                                        <li><p style="color:green"><i class="notika-icon notika-star"></i> <b><%= project.projectHistory[i].dateTodayChange %></b> (<%= project.projectHistory[i].dateChange %>) - Projeto criado!</p></li>
                                                        <% } else { %>
                                                        <li><p><b><%= project.projectHistory[i].dateTodayChange %></b> (<%= project.projectHistory[i].dateChange %>) - <%= project.projectHistory[i].dataChange %></p></li>
                                                        <% } %>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if(style == 'task') { %>
                            <div id="task" class="tab-pane fade active in">
                            <% } else { %>
                            <div id="task" class="tab-pane fade">
                            <% } %>
                                <div class="tab-ctn">
                                    <% if(project.task.length) { %>
                                        tarefas..
                                    <% } else { %>
                                        <p>O projeto ainda não possui tarefas</p>
                                    <% } %>
                                </div>
                            </div>
                            <% if(style == 'archive') { %>
                            <div id="archive" class="tab-pane fade active in">
                            <% } else { %>
                            <div id="archive" class="tab-pane fade">
                            <% } %>
                                <div class="tab-ctn">
                                    <h4>Clique em Upload para enviar os arquivos do projeto</h2>                                   
                                    <div class="tz-gallery">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mg-t-30">
                                                <a class="lightbox" data-toggle="modal" data-target="#uploadModal">
                                                    <img src="/views/assets/img/uploadBG.jpg">
                                                </a>
                                            </div>
                                            <% if(project.file.length) { %>
                                                <% for(let i = project.file.length - 1; i >= 0; i--) { %>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mg-t-30">
                                                    <a class="lightbox" href="/get/<%= project._id %>/<%= project.file[i].fileName %>">
                                                        <img src="/get/<%= project._id %>/<%= project.file[i].fileName %>">
                                                    </a>
                                                </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% if(style == 'invoice') { %>
                            <div id="invoice" class="tab-pane fade active in">
                            <% } else { %>
                            <div id="invoice" class="tab-pane fade">
                            <% } %>
                                <div class="tab-ctn">
                                    Conteudo...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="/upload/<%= project._id %>" class="controls-stacked">
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Escolher arquivos...
                    </label>
                    <input id="file-upload" name="file" type="file" style="display:none;" accept=".jpg,.jpeg,.png,.gif" multiple>
                    <button type="submit" class="btn notika-btn-purple btn-reco-mg btn-button-mg waves-effect" style="color:#fff"> Enviar fotos</button>
                    </form>
                </div>
            </div>
        </div>
    </div>