<div class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-4 order-xl-1">
            <div class="card card-profile">
                <img src="/views/assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a>
                                <% if(user.avatar) { %>
                                <img alt="Image placeholder" class="rounded-circle" src="<%= user.avatar %>">
                                <% } else { %>
                                <img alt="Image placeholder" class="rounded-circle" src="/profilePicture/<%= user._id %>">
                                <% } %>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="h3">
                            <%= user.name %><span class="font-weight-light"></span></h5>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                                data-target="#modal-changeProfilePic">Alterar foto</button>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <p>Membro desde
                            <%= user.createdAt %>
                        </p>
                        <p><%= user.email %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 order-xl-2">
            <div class="card">
                <div class="card-header">
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab"
                                    href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1"
                                    aria-selected="true"><i class="ni ni-circle-08 mr-2"></i>Editar perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2"
                                    role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-bullet-list-67 mr-2"></i>Timeline</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                            <form action="/profile" method="POST" role="form">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="pl-lg-4">
                                    <h6 class="heading-small text-muted mb-4">Informações</h6>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Seu nome</label>
                                                <input type="text" id="input-username" name="newName" class="form-control" placeholder="Nome">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Email</label>
                                                <input type="email" id="input-email" name="newEmail" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h6 class="heading-small text-muted mb-4">Alterar senha</h6>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-first-name">Senha atual</label>
                                                <input type="password" id="input-first-name" name="currentPassword" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Nova senha</label>
                                                <input type="password" id="input-last-name" name="newPassword" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Confirmar nova senha</label>
                                                <input type="password" id="input-last-name" name="confirmNewPassword" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">Alterar</button>
                                    </div></div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                            <p class="description">Cosby sweater eu banh mi, qui irure terry richardson ex
                                squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan
                                american apparel, butcher voluptate nisi qui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-changeProfilePic" tabindex="-1" role="dialog" aria-labelledby="modal-notification"
        aria-hidden="true">
        <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
            <div class="modal-content bg-gradient-danger">
                <form method="POST" enctype="multipart/form-data" action="/profilePicture/<%= user._id %>" class="controls-stacked">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-title-default">Alterar foto</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-3 text-center">
                            <i class="ni ni-image ni-2x"></i>
                            <h4 class="heading mt-4">Selecione abaixo sua nova foto de perfil</h4>
                            <div class="custom-file">
                                <input type="file" name="file" class="custom-file-input" id="customFileLang" lang="en"
                                    onchange='uploadFile(this)'>
                                <label class="custom-file-label" id="file-name" for="customFileLang">Escolha sua foto</label>
                            </div>
                            <br />
                            <div class="showImg divShow">
                                <img id="output" class="imgShow rounded-circle" />
                            </div>
                            <script>
                                function uploadFile(target) { 
                                    document.getElementById("file-name").innerHTML = target.files[0].name; 
                                    var output = document.getElementById('output');
                                    output.src = URL.createObjectURL(event.target.files[0]) 
                                    $('.showImg').css("display", "block")
                                }
                            </script>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-white">Alterar</button>
                        <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--
        
                            
    -->