<div class="container-fluid mt--7">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <% if(user.admin) { %>
                    <div class="row align-items-center">
                        <div class="col-7">
                            <h5 class="h3 mb-0">Informações do projeto</h5>
                        </div>
                        <div class="col-5 text-right">
                            <a class="btn btn-sm btn-info" style="color:#fff" data-toggle="modal" data-target="#modal-userInfo">Cliente</a>
                            <a class="btn btn-sm btn-danger" style="color:#fff" data-toggle="modal" data-target="#modal-project">Editar
                                projeto</a>
                        </div>
                    </div>
                    <% } else { %>  
                    <h3 class="mb-0">Informações do projeto</h3>
                    <% } %>
                    <div class="nav-wrapper">
                        <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 <% if(style == 'details') { %>active<% } %>" id="tabs-details-tab"
                                    data-toggle="tab" href="#tabs-details" role="tab" aria-controls="tabs-details"
                                    aria-selected="<% if(style == 'details') { %>true<% } else { %>false<% } %>">
                                    <i class="ni ni-single-copy-04 mr-2"></i>Detalhes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0 <% if(style == 'archive') { %>active<% } %>" id="tabs-archive-tab"
                                    data-toggle="tab" href="#tabs-archive" role="tab" aria-controls="tabs-archive"
                                    aria-selected="<% if(style == 'archive') { %>true<% } else { %>false<% } %>">
                                    <i class="ni ni-archive-2 mr-2"></i>Arquivos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mb-sm-3 mb-md-0" id="tabs-invoice-tab" data-toggle="tab" href="#tabs-invoice"
                                    role="tab" aria-controls="tabs-invoice" aria-selected="false"><i class="ni ni-chart-bar-32 mr-2"></i>Faturas</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade <% if(style == 'details') { %>show active<% } %>" id="tabs-details"
                            role="tabpanel" aria-labelledby="tabs-details-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>#ID</h4>
                                        <p>
                                            <%= project._id %>
                                        </p>
                                        <h4>Orçamento</h4>
                                        <p>
                                            <%= project.budget %>
                                        </p>
                                        <h4>Criado em</h4>
                                        <p>
                                            <%= project.createdAt %>
                                        </p>
                                        <% if(project.canceledReason) { %>
                                        <h4 style="color:red">Motivo do cancelamento</h4>
                                        <p>
                                            <%= project.canceledReason %>
                                        </p>
                                        <% } %>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Status</h4>
                                        <p>
                                            <%= project.status %>
                                        </p>
                                        <h4>Prazo</h4>
                                        <p>
                                            <%= project.deadline %>
                                        </p>
                                        <h4>Responsável</h4>
                                        <% if(!project._idResponsible) { %>
                                        <p>O projeto ainda não foi aprovado</p>
                                        <% } else { %>
                                        <a class="avatar avatar-sm rounded-circle" data-toggle="tooltip"
                                            data-original-title="<%= responsible.name %>">
                                            <% if(responsible.avatar) { %>
                                            <img alt="Responsável" src="<%= responsible.avatar %>">
                                            <% } else { %>
                                            <img alt="Responsável" src="/profilePicture/<%= project._idResponsible %>">
                                            <% } %>
                                        </a>
                                        <% } %>
                                    </div>
                                    <div class="col-md-4">
                                        <h4>Últimas atividades</h4>
                                        <div class="timeline timeline-one-side" data-timeline-content="axis"
                                            data-timeline-axis-style="dashed">
                                            <% for(let i = project.projectHistory.length - 1, count = 0; i >= 0; i--, count++) { %>
                                            <% if(project.projectHistory[i].dataChange == 'Created') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-warning">
                                                    <i class="ni ni-spaceship"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto criado</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(project.projectHistory[i].dataChange == 'Approved') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-info">
                                                    <i class="fas fa-handshake"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto aprovado</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(project.projectHistory[i].dataChange == 'Development') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-primary">
                                                    <i class="fas fa-cogs"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto em desenvolvimento</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(project.projectHistory[i].dataChange == 'Completed') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-success">
                                                    <i class="ni ni-trophy"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto concluído</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(project.projectHistory[i].dataChange == 'Paused') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-default">
                                                    <i class="ni ni-button-pause"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto pausado</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(project.projectHistory[i].dataChange == 'Canceled') { %>
                                            <div class="timeline-block">
                                                <span class="timeline-step badge-danger">
                                                    <i class="fas fa-times-circle"></i>
                                                </span>
                                                <div class="timeline-content">
                                                    <div class="d-flex justify-content-between pt-1">
                                                        <div>
                                                            <span class="text-muted text-sm font-weight-bold">
                                                                <%= project.projectHistory[i].dateChange %></span>
                                                        </div>
                                                        <div class="text-right">
                                                            <small class="text-muted"><i class="fas fa-clock mr-1"></i>
                                                                <%= project.projectHistory[i].dateTodayChange %></small>
                                                        </div>
                                                    </div>
                                                    <h6 class="text-sm mt-1 mb-0">Projeto cancelado</h6>
                                                </div>
                                            </div>
                                            <% } %>
                                            <% if(count == 2) break %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade <% if(style == 'archive') { %>show active<% } %>" id="tabs-archive"
                            role="tabpanel" aria-labelledby="tabs-archive-tab">
                            <div class="tz-gallery">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form method="POST" enctype="multipart/form-data" action="/upload/<%= project._id %>"
                                            role="form">
                                            <h3 c>Enviar arquivos</h3>
                                            <div class="custom-file">
                                                <input type="file" name="file" accept=".jpg, .jpeg, .png, .gif, .bmp"
                                                    class="custom-file-input" id="customFileLangProject" lang="en"
                                                    onchange='uploadFileProject(this)' multiple>
                                                <label class="custom-file-label" id="file-name-project" for="customFileLangProject">Escolha
                                                    suas fotos</label>
                                            </div>
                                            <script>
                                                function uploadFileProject(target) { 
                                                        if(target.files.length == 1)
                                                            document.getElementById("file-name-project").innerHTML = target.files[0].name;
                                                        else
                                                            document.getElementById("file-name-project").innerHTML = '(' + target.files.length + ') fotos';
                                                    }
                                                </script><br /><br />
                                            <button type="submit" class="btn btn-danger btn-block">Enviar fotos</button><br />
                                        </form>
                                    </div>
                                    <% if(project.file.length) { %>
                                    <% for(let i = project.file.length - 1; i >= 0; i--) { %>
                                    <div class="col-md-4">
                                        <a class="lightbox" href="/get/<%= project._id %>/<%= project.file[i].fileName %>"
                                            alt="Project Image">
                                            <img class="card-img-top" src="/getThumb/<%= project._id %>/<%= project.file[i].fileName %>">
                                        </a>
                                    </div>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-invoice" role="tabpanel" aria-labelledby="tabs-invoice-tab">
                            <p class="description">Ainda não há faturas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if(user.admin) { %>
        <%- include modal/userInfo-modal.ejs %>
        <%- include modal/project-modal.ejs %>
    <% } %>