<div class="modal fade" id="modal-project" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="editProject" role="form">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title-default">Editar projeto</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>Informações</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-atom"></i></span>
                                    </div>
                                    <input class="form-control form-control-alternative" name="name" value="<%= project.name %>" placeholder="Nome do projeto"
                                        type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-money-coins"></i></span>
                                    </div>
                                    <input class="form-control form-control-alternative" value="<%= project.budget %>" name="budget" onkeyup="maskIt(this,event,'###.###.###,##',true,{pre:'R$', pos:''})"
                                        placeholder="Orçamento" type="text">
                                    <script src="/views/assets/vendor/mask/money.js"></script>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                                    </div>
                                    <select name="category" class="form-control">
                                        <% if(project.category == 'Loja Online') { %>
                                        <option selected="selected">Loja Online</option>
                                        <% } else { %>
                                        <option>Loja Online</option>
                                        <% } %>
                                        <% if(project.category == 'Blog') { %>
                                        <option selected="selected">Blog</option>
                                        <% } else { %>
                                        <option>Blog</option>
                                        <% } %>
                                        <% if(project.category == 'Institucional') { %>
                                        <option selected="selected">Institucional</option>
                                        <% } else { %>
                                        <option>Institucional</option>
                                        <% } %>
                                        <% if(project.category == 'Portal de Notícias') { %>
                                        <option selected="selected">Portal de Notícias</option>
                                        <% } else { %>
                                        <option>Portal de Notícias</option>
                                        <% } %>
                                        <% if(project.category == 'ERP') { %>
                                        <option selected="selected">ERP</option>
                                        <% } else { %>
                                        <option>ERP</option>
                                        <% } %>
                                        <% if(project.category == 'Outro') { %>
                                        <option selected="selected">Outro</option>
                                        <% } else { %>
                                        <option>Outro</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input class="form-control form-control-alternative datepicker" value="<%= project.deadline %>" id="data" name="deadline"
                                        placeholder="Prazo" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Plataformas</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" name="web" id="webCheck" type="checkbox" <% if(project.platform.web) { %>checked<% } %>>
                                        <label class="custom-control-label" for="webCheck">Site</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" name="app" id="appCheck" type="checkbox" <% if(project.platform.app) { %>checked<% } %>>
                                        <label class="custom-control-label" for="appCheck">App</label>
                                    </div>  
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" name="desktop" id="desktopCheck" type="checkbox" <% if(project.platform.desktop) { %>checked<% } %>>
                                        <label class="custom-control-label" for="desktopCheck">Desktop</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Responsabilidade</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-control custom-control-alternative custom-checkbox mb-3">
                                        <input class="custom-control-input" name="responsible" id="responsible" type="checkbox" 
                                        <% if(project._idResponsible) { %>
                                            checked
                                            <% if(user._id !== project._idResponsible) { %>
                                                disabled
                                            <% } %>
                                        <% } %>>
                                        <label class="custom-control-label" for="responsible">Tornar-se responsável</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Descrição</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control form-control-alternative" name="description" placeholder="Descrição do projeto"
                                rows="3"><%= project.description %></textarea>
                        </div>
                    </div>
                    <h4>Status</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-bullet-list-67"></i></span>
                                    </div>
                                    <select name="status" id="status" class="form-control">
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Created') { %>
                                        <option selected="selected">Aguardando aprovação</option>
                                        <% } else { %>
                                        <option>Aguardando aprovação</option>
                                        <% } %>
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Approved') { %>
                                        <option selected="selected">Projeto aprovado</option>
                                        <% } else { %>
                                        <option>Projeto aprovado</option>
                                        <% } %>
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Development') { %>
                                        <option selected="selected">Projeto em desenvolvimento</option>
                                        <% } else { %>
                                        <option>Projeto em desenvolvimento</option>
                                        <% } %>
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Completed') { %>
                                        <option selected="selected">Projeto concluído</option>
                                        <% } else { %>
                                        <option>Projeto concluído</option>
                                        <% } %>
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Paused') { %>
                                        <option selected="selected">Projeto pausado</option>
                                        <% } else { %>
                                        <option>Projeto pausado</option>
                                        <% } %>
                                        <% if(project.projectHistory[(project.projectHistory.length -1)].dataChange == 'Canceled') { %>
                                        <option selected="selected">Projeto cancelado</option>
                                        <% } else { %>
                                        <option>Projeto cancelado</option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <style>div.reason { display:none; }</style>
                            <div id="Reason" class="form-group reason">
                                <div class="input-group input-group-alternative mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-ban"></i></span>
                                    </div>
                                    <input class="form-control form-control-alternative" id="inputReason" name="reason" <% if(project.canceledReason) { %>value="<%= project.canceledReason %>"<% } %> placeholder="Motivo do cancelamento" type="text">
                                    <script>
                                        $(document).ready(function() {
                                            let myInput = document.getElementById("inputReason") 
                                            if (myInput && myInput.value) {
                                                $('#Reason').show()
                                            }  
                                        })                                 
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
            <script>
                $(document).ready(function() {
                    $('#status').on('change', function () {
                        $('#Reason').hide();
                        let val = $('#status option:selected').text();
                        if(val == 'Projeto cancelado') $('#Reason').show();
                    })
                })
            </script>
            <script>
                $(document).ready(function() {
                    $('#editProject').on('submit', function(e) {
                        e.preventDefault()
                        
                        $.ajax({
                            type: 'PUT',
                            url: '/project/<%= project._id %>',
                            datatype: 'html',
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                            data: $('#editProject').serialize(),
                            success: function() {   
                                alertify.notify('Sucesso!', 'success', 5)
                                setTimeout(function() { 
                                    window.location.href = '/project/<%= project._id %>'
                                }, 500)
                            },
                            error : function(xhr, status, error) {
                                alertify.notify(JSON.parse(xhr.responseText), 'error', 5)
                            },
                        })
                    })
                })
            </script>
        </div>
    </div>
</div>