<div class="container-fluid mt--8">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h5 class="h3 mb-0">Usuários cadastrados</h5>
                        </div>
                        <div class="col-4 text-right">
                            <a class="btn btn-sm btn-danger" style="color:#fff; margin-left: -80px" data-toggle="modal" data-target="#modal-createUser">Cadastrar novo usuário</a>
                        </div>
                    </div>
                </div>

                <div class="table-responsive py-4">
                    <table class="table table-flush" id="datatable-basic">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">Email</th>
                                <th scope="col">Projetos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i = 0; i < users.length; i++) { %>
                            <tr style="cursor:pointer" onclick="location.href='/users/<%= users[i]._id %>'">
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <a class="avatar rounded-circle mr-3">
                                            <img alt="<%= users[i].name %>" src="<% if(users[i].avatar) { %><%= users[i].avatar %><% } else { %>/profilePicture/<%= users[i]._id %><% } %>">
                                        </a>
                                        <div class="media-body">
                                            <span class="mb-0 text-sm">
                                                <%= users[i].name %>
                                            </span>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <p><%= users[i].phone %></p>
                                </td>
                                <td>
                                    <p><%= users[i].email %></p>
                                </td>
                                <td>
                                    <p><%= users[i]._idProject.length %></p>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
    <%- include modal/createUser-modal.ejs %>